// ПЕРЕМЕННЫЕ
$df:flex;
$jcsb: space-between;
// ЦВЕТА
$color-1:#332208;
$color-2:#FEFEFE;
$color-3:#1B1818;
$color-4:#C5AC2D;
// РАЗМЕР ШРИФТОВ
$fs16:1.6rem;
$fs18:1.8rem;
// ШРИФТЫ
$roboto:'Roboto Condensed',
sans-serif;
$fira:'Fira Sans',
sans-serif;

// МИКСИНЫ
@mixin jcsb($df, $jcsb) {
    display: $df;
    justify-content: $jcsb;
}


@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// ШАБЛОНЫ
%sb {
    display: flex;
    justify-content: space-between;
}